@import "tailwindcss";

/*stars blinking*/
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/*title letters drifting*/
@keyframes drift {
  from { transform: translate(0px, 0px); }
  to   { transform: translate(12px, 16px); }
}